.task-card {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.task-cards-container {
  margin: 12vh 30px 30px 30px;
  color: #000;
  max-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  margin: 30px;
  color: #000;
}

.task-list-header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}

.task-list-header button {
  margin: 15px;
  height: 35px;
}

.task-card button {
  margin-left: auto;
}

.markedDone {
  color: #999;
  text-decoration: line-through;
}

.done-check {
  margin-right: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
