.task-card {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.task-cards-container {
  margin: 12vh 30px 30px 30px;
  color: #000;
  max-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  margin: 30px;
  color: #000;
}

.task-list-header {
  display: flex;
  align-items: center;
  height: 10vh;
  min-height: 85px;
  width: 75vw;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}

.task-list-header button {
  margin: 15px 20px 15px 15px;
  height: 35px;
}

.task-card button {
  margin-left: auto;
}

.markedDone {
  color: #999;
  text-decoration: line-through;
}

.done-check {
  margin-right: 10px;
}

mat-card-subtitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

mat-card-subtitle {
  margin-top: 5px;
  margin-left: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {

  .task-cards-container {
    margin: 12vh 10px 20px 10px;
  }

  .task-list-header h1 {
    font-weight: 500;
    margin: 15px;
  }

  .task-list-header button {
    margin: 15px 10px 15px 15px;
    height: 35px;
  }

  .task-list-header {
    width: 80vw;
    justify-content: space-between;
  }
}
