.sidenav-container {
  color: #fff;
  background-color: #fff;
}

.left-sidenav {
  display: flex;
  width: 200px;
  background-color: #0d47a1;
}

.left-sidenav a {
  color: #fff;
}

.left-sidenav a i {
  margin-right: 10px;
}

.app-title {
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.app-title a {
  font-size: 2.0rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 30px;
}

.app-title a img {
  width: 100%;
  vertical-align: middle;
}

.user-informations .user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.user-informations p {
  margin-top: 5px;
  color: #fff;
  font-size: 1.1rem;
}

.user-informations {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.user-informations button {
  margin-top: 20px;
}

.app-title .mobile-logo {
  display: none;
}

.app-title .desktop-logo {
  display: block;
}

@media screen and (max-width: 768px) {

  .app-title .desktop-logo {
    display: none;
  }

  .app-title .mobile-logo {
    display: block;
  }

  .left-sidenav {
    width: 20vw;
  }

  .app-title a span,
  .mat-nav-list a span {
    display: none;
  }

  .mat-nav-list a {
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .app-title {
    margin-bottom: 0px;
  }

  .app-title a i {
    font-size: 2.5rem;
  }

  .mat-nav-list a i {
    font-size: 2.0rem;
  }

  .left-sidenav a i {
    margin-right: 0px;
  }

  .user-informations .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  .user-informations button,
  .user-informations p {
    margin-top: 5px;
    font-size: 0.7rem;
    text-align: center;
  }

  .user-informations button {
    width: 65px;
  }

  .user-informations {
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vw;
  }

  .user-informations div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;
  }

}
