<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="left-sidenav" opened mode="side" fixedInViewport="true">
    <div>
      <div class="app-title">
        <a routerLink="/">
          <i class="material-icons">assignment_turned_in</i><span>Tasks</span>
        </a>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="/"><i class="material-icons">home</i><span>Home</span></a>
        <a mat-list-item routerLink="/tarefas"><i class="material-icons">assignment</i><span>My Tasks</span></a>
      </mat-nav-list>
    </div>
    <div class="user-informations" *ngIf="auth.user$ | async as user">
      <img class="user-avatar" [src]="user.photoURL">
      <div>
        <<!-- p>{{ user.displayName }}</p> -->
          <!--       <p>UID: {{ user.uid }}</p> -->
          <button mat-raised-button (click)="auth.signOut()">Log Out</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
