.mat-header-toolbar {
  position: fixed;
  top: 0;
  /* z-index: 2; */
}


.mat-header-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

.mat-header-toolbar a {
  vertical-align: middle;
  line-height: 70px;
}

.mat-header-toolbar a i {
  vertical-align: middle;
  font-size: 2.0rem;
  margin-right: 10px;
}
