.footer-toolbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  min-height: 64px;
}

.footer-toolbar p {
  font-size: 1.1rem;
  font-weight: 300;
}

.footer-toolbar p span {
  font-weight: bold;
}

.footer-toolbar p {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {

  .footer-toolbar p {
    font-size: 0.9rem;
    font-weight: 300;
    padding-top: 10px;
  }

}
