.user-profile-all-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d47a1;
}

.user-profile-card {
  background-color: transparent;
}

.user-profile-all-container mat-card {
  width: 30vw;
  height: 40vh;
  min-width: 550px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-profile-card img {
  width: 90%;
}

.user-profile-card button {

  /* margin-top: 50px; */
}

.mobile-logo {
  display: none;
}

@media screen and (max-width: 768px) {

  .desktop-logo {
    display: none;
  }

  .user-profile-all-container mat-card {
    height: 43vh;
    min-width: 300px;
    min-height: 300px;
  }
}
