<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="user-profile-all-container">
    <div>

      <mat-card class="user-profile-card mat-elevation-z0">

        <!-- <p>Welcome to</p> -->
        <img src="../../assets/images/4.png" alt="Tasks Logo">

        <button class="login-button" mat-raised-button (click)="auth.googleSignin()">
          Connect with Google
        </button>

      </mat-card>
    </div>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <app-home></app-home>
  <app-footer></app-footer>
</ng-template>
